.header {
  background: #1c1c21;
  display: flex;
  justify-content: center;
}

.menu {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_part_left {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585ad;
  transition: color 0.2s;
}

.link:hover {
  color: #f2f2f3;
}

.link_active {
  color: #f2f2f3;
}

.link_position_last {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585ad;
  transition: color 0.2s;
}

.link_position_last:hover {
  color: #f2f2f3;
}

.link_position_last.link_active {
  color: #f2f2f3;
}

.logo {
  display: flex;
  align-items: center;
}